<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adicionar usuario</title>
</head>
<body>
    <h1>adicione um  usuario:</h1>
    <form action="/users/save" method="POST">
        <div>
            <input type="text" name="name" placeholder="digite um nome"/>
        </div>
        <div>
            <input type="text" name="age" placeholder="digite a idade"/>
        </div>
        <div>
            <input type="submit" value="cadastrar"/>
        </div>
    </form>
</body>
</html>